body, div, input {
    font: 11px Verdana;
}

div.charDesign {
    margin-bottom: 20px;
}

.charDesign div {
    margin-bottom: 5px;
}

.charDesign div span.labelWidth {
    display: inline-block;
    width: 100px;
}

.charDesign label {
    margin-right: 30px;
}

.charDesign .strike {
    text-decoration: line-through;
    width: 10px;
    color: #cccccc;
}

.charDesign div.attributeSet {
    height: 18px;
    line-height: 18px;
}

.charSheet div {
    margin-bottom: 5px;
}

.charSheet div span.labelWidth {
    display: inline-block;
    width: 100px;
}

